@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply bg-darkBrown; */
  @apply bg-black;

}

.shadow-purpleMediumShadow {
  --tw-shadow: 10px 10px 200px 150px rgba(130, 69, 236, 0.5); /* #8245ec with 50% opacity */
  --tw-shadow-colored: 10px 10px 200px 150px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), 
              var(--tw-ring-shadow, 0 0 #0000), 
              var(--tw-shadow);
}

/* Thin, transparent scroll bar with brown thumb */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #a0522d; /* Brown color */
  border-radius: 8px;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #a0522d transparent; /* For Firefox */
}
